# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Ate-Ransomware/v17/Browse.VC.opendb
.vs/Ate-Ransomware/v17/Browse.VC.db-wal
.vs/Ate-Ransomware/v17/Browse.VC.db-shm
.vs/Ate-Ransomware/v17/Browse.VC.db
.vs/Ate-Ransomware/FileContentIndex/be1cb746-80c1-40cb-a65c-5f01dec789bb.vsidx
.vs/Ate-Ransomware/v17/ipch/AutoPCH/ef7fd3ab1739673a/MAIN.ipch
.vs/Ate-Ransomware/v17/.suo
.vs/Ate-Ransomware/FileContentIndex/ac0c1d6e-e1f0-4b96-b493-5d16f84ff2f2.vsidx
.vs/Ate-Ransomware/FileContentIndex/ab94f93e-1a0f-429f-8b46-ee955489b03d.vsidx
x64/Debug/Ate-Ransomware.exe.recipe
x64/Debug/Ate-Ransomware.ilk
x64/Debug/Ate-Ransomware.pdb
x64/Debug/Ate-Ransomware.tlog/Ate-Ransomware.lastbuildstate
x64/Debug/Ate-Ransomware.tlog/CL.command.1.tlog
x64/Debug/Ate-Ransomware.tlog/Cl.items.tlog
x64/Debug/Ate-Ransomware.tlog/CL.read.1.tlog
x64/Debug/Ate-Ransomware.tlog/CL.write.1.tlog
x64/Debug/Ate-Ransomware.tlog/link.command.1.tlog
x64/Debug/Ate-Ransomware.tlog/link.read.1.tlog
x64/Debug/Ate-Ransomware.tlog/link.write.1.tlog
x64/Debug/Ate-Ransomware.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/Ate-Ransomware/FileContentIndex/3077449c-a292-4362-9c00-b6076a5fd30a.vsidx
.vs/Ate-Ransomware/FileContentIndex/4faedabc-557a-411e-b9d9-e1b80c4033af.vsidx
.vs/Ate-Ransomware/FileContentIndex/686ee041-ca3c-4f2c-9451-2d5c5e46b216.vsidx
.vs/Ate-Ransomware/FileContentIndex/749ab450-4459-4265-8453-536aba6343d7.vsidx
.vs/Ate-Ransomware/FileContentIndex/d2d4b75d-1c66-45f9-b728-a64bdf16d052.vsidx
.vs/Ate-Ransomware/v17/ipch/AutoPCH/1137d790ebfb0e61/TMPE95A.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/17afea07f93599ac/TMPCD37.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/238641d6279cac15/TMP43AD.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/31e847ccf2958010/DECRYPT.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/36452cb23c4c16ac/TMPA20B.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/37cfed9bd6ce8a90/TMP4511.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/385e55bb1299d97a/CESARCYPHER.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/3c2943c717ed40c0/TMP3AA.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/43872f6f330d4ddd/TMP5292.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/45ccd0f99ffb7b8a/TMPDE3A.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/4dc9c53ea936d75f/ENCRYPT.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/5d839de88f632c0d/TMP684.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/5ef80274c2d40b44/MAIN.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/6c28c64399e48879/ENCRYPT.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/7c1eb62f64455e82/TMPE819.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/8f71a9c00fe7d237/GSHANDLEREH4.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/9192f2b256ea52c9/MAIN.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/94ab90a770f47b25/TMP5348.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/9ede18a3b80d4fe6/TMP6FEB.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/a3d86f38f7530f50/SEARCH.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/ae45b21493f4a5a4/ENCRYPT.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/b0525ddb9a04f6a2/TMPAECB.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/b8f6497ba62e3493/EXE_MAIN.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/c9ead53f55bb2f64/REPORT_RUNTIME_ERROR.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/cb1620eca4757bc9/TMP77EA.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/df45bb431ab37960/CESARCYPHER.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/e6298ed4cb52908d/TMP8440.TMP.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/f6d8990a8305a5d2/SEARCH.ipch
.vs/Ate-Ransomware/v17/ipch/AutoPCH/fe991cae1101f6a6/THROW.ipch
.vs/Ate-Ransomware/v17/Solution.VC.db
x64/Debug/microsoft/STL/std.compat.ixx.ifc.dt.d.json
x64/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json
x64/Debug/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
x64/Debug/microsoft/STL/std.ixx.ifc.dt.d.json
x64/Debug/microsoft/STL/std.ixx.ifc.dt.module.json
x64/Debug/microsoft/STL/std.ixx.ifc.dt.module.json.command
x64/Release/Ate-Ransomware.exe.recipe
x64/Release/Ate-Ransomware.iobj
x64/Release/Ate-Ransomware.ipdb
x64/Release/Ate-Ransomware.pdb
x64/Release/Ate-Ransomware.tlog/Ate-Ransomware.lastbuildstate
x64/Release/Ate-Ransomware.tlog/CL.command.1.tlog
x64/Release/Ate-Ransomware.tlog/Cl.items.tlog
x64/Release/Ate-Ransomware.tlog/CL.read.1.tlog
x64/Release/Ate-Ransomware.tlog/CL.write.1.tlog
x64/Release/Ate-Ransomware.tlog/link.command.1.tlog
x64/Release/Ate-Ransomware.tlog/link.read.1.tlog
x64/Release/Ate-Ransomware.tlog/link.write.1.tlog
x64/Release/Ate-Ransomware.tlog/link.write.2u.tlog
x64/Release/Ate-Ransomware.vcxproj.FileListAbsolute.txt
x64/Release/vc143.pdb
